---
import Layout from "../layouts/Layout.astro";
import Bio from "../components/Bio.astro";
import { formatPostDate, getSortedPosts } from "../lib/posts";

const posts = await getSortedPosts();
---

<Layout title="All posts">
    <Bio />
    {
        posts.length === 0 ? (
            <p>No blog posts found. Add markdown posts to "src/content/blog".</p>
        ) : (
            <ol class="post-list">
                {posts.map(post => (
                    <li>
                        <article class="post-list-item" itemscope itemtype="https://schema.org/Article">
                            <header>
                                <h2>
                                    <a href={`/blog/${post.id}/`} itemprop="url">
                                        <span itemprop="headline">{post.data.title}</span>
                                    </a>
                                </h2>
                                <small>{formatPostDate(post.data.date)}</small>
                            </header>
                            <section>
                                <p itemprop="description">{post.data.description ?? ""}</p>
                            </section>
                        </article>
                    </li>
                ))}
            </ol>
        )
    }
</Layout>
