---
import { site } from '../data/siteMetadata';
import profilePic from '../assets/profile-pic.png';
const { author } = site;
---
<div class="bio">
  <img
    class="bio-avatar"
    src={profilePic.src}
    width={profilePic.width}
    height={profilePic.height}
    alt="Profile picture"
  />
  {author.name && (
    <p>
      Words by <strong>{author.name}</strong> {author.summary || null}
    </p>
  )}
</div>
